* text=auto eol=lf

/resources/all-versions.json    -diff linguist-generated=true
/tests/.pest/snapshots          -diff linguist-generated=true
/tests/data                     -diff linguist-generated=true

# Ignore everything.
/* export-ignore

# Export white-listed production code only.
/bin            -export-ignore
/resources      -export-ignore
/src            -export-ignore
/composer.json  -export-ignore
/composer.lock  -export-ignore
/LICENSE        -export-ignore
/README.md      -export-ignore

# Ignore internal scripts.
/bin/update-all-versions    -export-ignore
